html,
body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu Condensed", sans-serif;
  background-color: #648381;
  font-size: 1.2rem;
}
.header-bar {
  height: 120px;
  justify-content: space-around;
  display: flex;
  align-items: center;
  color: white;
  text-shadow: 2px 2px black;
}
.subMenu {
  width: 170px;
  margin: 0 auto;
  padding-left: 0;
  background: rgba(0, 0, 0, 0.9);
  border-radius: 12px;
  width: fit-content;
  color: yellow;
  padding: 4px;
  border: 4px solid red;
  z-index: 999;
}
.modal {
  display: flex;
  position: relative;
}
.modal-obj {
  display: flex;
  justify-content: space-evenly;
}
.modal-container {
  margin-bottom: 50px;
}
img {
  width: 100%;
  margin: 0 auto;
  display: block;
  border-radius: 12px;
}
.header-background,
.score-background,
.obj-background {
  padding: 4px;
  margin-top: 2%;
}

.hiddenObjs {
  display: none;
  background: none;
}
.showButton,
.levelButton {
  border-radius: 4px;
  background-color: yellow;
  border: none;
  width: 4rem;
  z-index: 999;
  max-height: 2rem;
  height: 2rem;
}
.levelButton {
  margin-top: 2%;
}
.selectMenu {
  z-index: 999;
}
.empty {
  text-align: center;
}
.capContainer {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 12px;
  gap: 4px;
  text-align: center;
}
.capContainer img {
  height: 150px;
  width: 150px;
}
.capChild {
  border-radius: 12px;
  border: solid black 2px;
  color: yellow;
  background: rgba(0, 0, 0, 0.8);
  align-items: center;
  align-self: center;
  justify-content: center;
}
.capHeader {
  font-size: 1.4rem;
  border-bottom: solid black 2px;
  border-top: solid black 2px;
  background-color: rgba(255, 255, 255, 0.4);
  text-align: center;
}
.closeObjectives {
  border-radius: 4px;
  background-color: yellow;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
}
#objList {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
.list-of-objectives {
  justify-content: center;
  text-align: center;
  display: flex;
  margin: 0 auto;
  list-style: none;
  height: 40vh;
  width: 50vw;
  background: rgba(0, 0, 0, 0.6);
  padding: 30px;
  align-items: center;
  border-radius: 12px;
  border: solid yellow 2px;
  cursor: default;
  z-index: 999;
}

@media only screen and (max-width: 846px) {
  .list-of-objectives {
    max-height: 20vh;
    font-size: 0.8rem;
  }
  .list-of-objectives li {
    align-items: center;
    max-width: 50px;
    margin: 0 auto;
  }
  .subMenu {
    max-width: 100px;
    max-height: 100px;
    font-size: 0.8rem;
    text-align: center;
  }
  .subMenu button {
    font-size: 0.6rem;
  }
  .subMenu p {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}
.list-of-objectives li:hover {
  color: yellow;
}
.scanBox {
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  border: dashed yellow 4px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  padding: 20px;
  z-index: 1;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  pointer-events: none;
}
.buttonList {
  display: grid;
  grid-template-columns: 1;
  gap: 2px;
}
.buttonList button {
  border: none;
  border-radius: 6px;
  background: yellow;
}
.winnerContainer {
  background: url("./components/img/pokemonHappy.jpg") no-repeat center center fixed;
  justify-content: space-around;
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  
}
.winner-div {
  background-color: rgba(0, 0, 0, 0.7);
}
.winner-div,
.prevWinners {
  color: white;
  padding: 20px;
  display: grid;
  justify-items: center;
  justify-content: center;
  align-items: center;
  width: 60vw;
}
.prevWinners {
  height: 100%;
}
.nameInput {
  display: flex;
  align-self: center;
  margin: 0 auto;
  justify-items: center;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border-radius: 12px;
  border: none;
}
.inputContainer {
  text-align: center;
}
.prevWinners ul {
  list-style: none;
  padding-left: 0;
}
.cntr{
  text-align: center;
}
.displayName{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.winImg {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin: 0 auto;
  margin-right: 10px;
}
.createButton {
  border: none;
  border-radius: 12px;;
  padding: 12px;
  margin-top: 20px;
}
.goodBye {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999999;
}