html,
body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu Condensed", sans-serif;
  background-color: #648381;
  font-size: 1.2rem;
  cursor: crosshair;
}
.header-bar {
  height: 120px;
  justify-content: space-around;
  display: flex;
  align-items: center;
  color: white;
  text-shadow: 2px 2px black;
}

.modal {
  display: flex;
  position: relative;
}
.modal-obj {
  display: flex;
  justify-content: space-evenly;
}
.modal-container {
  margin-bottom: 50px;
}
img {
  width: 100%;
  margin: 0 auto;
  display: block;
  border-radius: 12px;
}
.header-background,
.score-background,
.obj-background {
  padding: 4px;
  margin-top: 2%;
}

.hiddenObjs {
  display: none;
  background: none;
}
.showButton,
.levelButton {
  border-radius: 4px;
  background-color: yellow;
  border: none;
  width: 4rem;
  z-index: 999;
  height: 2rem;
}
.levelButton {
  margin-top: 2%;
}
.closeObjectives {
  border-radius: 4px;
  background-color: yellow;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
}
#objList {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
.list-of-objectives {
  justify-content: center;
  text-align: center;
  display: flex;
  margin: 0 auto;
  list-style: none;
  height: 40vh;
  width: 40vw;
  background: rgba(0, 0, 0, 0.6);
  padding: 30px;
  align-items: center;
  border-radius: 12px;
  border: solid yellow 2px;
  cursor: default;
  z-index: 999;
}
.list-of-objectives li:hover {
  color: yellow;
}
.scanBox {
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  border: dashed yellow 4px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  padding: 20px;
  z-index: 1;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  pointer-events: none;
}
.subMenu {
  width: 170px;
  margin: 0 auto;
  padding-left: 0;
  background: rgba(0, 0, 0, 0.9);
  border-radius: 12px;
  width: fit-content;
  color: yellow;
  padding: 4px;
  border: 4px solid red;
}
.buttonList {
  display: grid;
  grid-template-columns: 1;
  gap: 2px;
}
.buttonList button {
  border: none;
  border-radius: 6px;
  background: yellow;
}
