html,
body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu Condensed", sans-serif;
  background-color: #648381;
  font-size: 1.2rem;
}
.header-bar {
  justify-content: space-around;
  display: flex;
  align-items: center;
  color: white;
  text-shadow: 2px 2px black;
}

.modal {
  display: flex;
  position: relative;
}
.modal-obj {
  display: flex;
  justify-content: space-evenly;
}
img {
  width: 100%;
  margin: 0 auto;
  display: block;
  border-radius: 12px;
}
.header-background,
.score-background,
.obj-background {
  padding: 4px;
  margin-top: 2%;
}

.small-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.hiddenObjs {
  display: none;
  background: none;
}
.showButton {
  border-radius: 4px;
  background-color: yellow;
  border: none;
  width: 4rem;
  margin-left: 4%;
  z-index: 999;
  height: 2rem;
  align-self: center;
}
#objList {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
.list-of-objectives {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
  background: rgba(0, 0, 0, 0.6);
  padding: 30px;
  width: 30vw;
  align-items: center;
  border-radius: 12px;
}
.list-of-objectives li:hover {
  color: yellow;
}
.scanBox {
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  border: dashed yellow 4px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  padding: 20px;
  z-index: 9;
  top: -35px;
  left: -35px;
}
